<IfModule mod_rewrite.c>
    RewriteEngine On

    # Mengarahkan semua permintaan ke folder public
    RewriteRule ^(.*)$ /public/$1 [L]

    # Mengarahkan kembali ke index.php di dalam folder public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/index.php/$1 [L]
</IfModule>
